{
	"useTabs": true,
	"singleQuote": false,
	"semi": false,
	"trailingComma": "none",
	"printWidth": 100,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"pluginSearchDirs": ["."]
}
